@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');


body{
    overflow-x: hidden;
    font-family: 'ZCOOL XiaoWei', serif;
    background-image:url("imagenes/particles.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    background-attachment: fixed;
    font-size: 110%;
    text-align: center;
}

.caption-text-center{

}

/*----inicio*/
.navbar{
    text-transform: uppercase;
    font-weight:700 ;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    background: black!important;
    height: 15%;
}

.navbar-brand img{
    height: 15%;
}

.navbar-nav li{
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link{
    color: rgb(241, 239, 231);
    padding-top: .6rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color:#800080;

}

.caption {
    width: 80%;
    max-width: 80%;
    height:70%;
    position: absolute
    top:38%;
    2-index: 1;
    color:black;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 201%;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: 0.1rem 0.1rem 0.8rem whitesmoke;
    color: whitesmoke;
    padding-bottom: 1rem;
    position: absolute;
    margin-top: -12%;
    margin-left: 43%;
}

.btn-lg{
    border-width: medium;
    border-radius: 0;
    padding: 1%;
    font-size: 1.25rem;
    line-height: 1.5;
    position: absolute;
    margin-top: -7%;
    margin-left: 3%;
    color: whitesmoke;
    border-color:whitesmoke;
    width: 15%;
}

/*quien soy*/

#me{
    margin-top: 1%;
    margin-bottom: 10%;
    width: 85%;
    margin-left:-15%;
}

#Sara{
    border-radius: 50%;
    width: 28%;
    height: 20%;
    margin-left: -10%;
    margin-top: 15%;
}

#intro{
    font-family: monospace;
    text-align: center;
    margin-left: 65%;
    margin-right: 10%;
    margin-top: -35%;
    margin-bottom: -4%;
    color: rgb(247, 242, 242);
    background-color: rgba(95, 75, 105, 0.664);
    opacity: 1.5;
    width: 65%;
    border-radius: 4%;
    font-size: 17px;
    padding: inherit;
}

#laboratoria{
    margin-left: 83%;
    margin-top: -10%;
    margin-bottom: -26%;
    width: 26%;
}

#intro2{
    font-family: monospace;
    text-align: center;
    margin-left: 65%;
    margin-right: 10%;
    margin-top: 12%;
    color: rgb(247, 242, 242);
    background-color: rgba(95, 75, 105, 0.664);
    opacity: 1.5;
    width: 65%;
    border-radius: 4%;
    font-size: 17px;
    padding: inherit;
}

/*proyectos*/

#projects{
    width: 65%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    padding-top: 10%;
}

/*carousel*/
.carousel-caption{
    background-color: rgba(95, 75, 105, 0.664);
    width: 75%;
    height: 48%;
    margin-left: -3%;
    margin-bottom: 2%;
    font-size: 15px;
    color: white;
    font-weight: 400;
    font-family: monospace;
}

.carousel-caption p{
        margin-top: 0%;
        margin-bottom: 1%;
}

/*skills*/

#skills{
    margin-top: 10%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 10%;
}

#introskill{
    font-family: monospace;
    text-align: center;
    margin-left: 11%;
    margin-right: 10%;
    margin-top: 8%;
    color: rgb(247, 242, 242);
    background-color: rgba(95, 75, 105, 0.664);
    font-size: 17PX;
    opacity: 1.5;
    border-radius: 4%;
    padding: inherit;
    height: 27%;
    padding-top: 3%;
}

#allicons{
    margin-left: 11%;
    height: 45%;
    background-color: rgba(95, 75, 105, 0.664);
    border-radius: 3%;
    width: 79%;
    height: 55%;
    padding-top: -1%;
}

.icons{
    margin:5%;
}

/*contactame*/

#sarafin {
    border-radius: 50%;
    width: 38%;
    height: 45%;
    margin-left: 0%;
    margin-top: 7%;
}

#introcontact{
    text-align: center;
    margin-top: 1%;
    color: rgb(247, 242, 242);
    font-size: 17px;
    font-family: monospace;
    opacity: 1.5;
}

#contactame{
    background-color: rgba(95, 75, 105, 0.664);
    width: 35%;
    height: 15%;
    margin-left: 33%;
    border-radius: 1%;
    margin-top: 3%;
    padding-bottom: 8%;
}

#linkedin{
    margin-left: -3%;
    margin-bottom: 15%;
    margin-right: 5%
}

#gmail{
    margin-left: 5%;
    margin-bottom: 15%;
    margin-right: 5%
}

#cv{
    margin-left: 3%;
    margin-right: -5%;
    margin-bottom: 15%;
    margin-top: 0%;
}

/*FIN portafolio*/


/*button styles*/

.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}



@media only screen and (max-width: 600px) {
